<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-usb-ccid"
    version="0.0.1">
    <name>CcidUsb</name>
    <description>Cordova NFC Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,nfc,payment</keywords>

    <js-module src="www/nfc.js" name="CcidUsb">
        <clobbers target="CcidUsb"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="CcidUsb">
                <param name="android-package" value="tech.barnard.cordova.plugins.CcidUsb"/>
				<param name="onload" value="true"/>
            </feature>
        </config-file>

        <source-file src="src/android/CcidUsb.java" target-dir="src/tech/barnard/cordova.plugins"/>
        <source-file src="src/android/EidCardCallback.java" target-dir="src/tech/barnard/cordova.plugins"/>

        <source-file src="src/android/usb/CCID.java" target-dir="src/tech/barnard/cordova.plugins/usb"/>
        <source-file src="src/android/usb/CCIDException.java" target-dir="src/tech/barnard/cordova.plugins/usb"/>
        <source-file src="src/android/usb/CardCallback.java" target-dir="src/tech/barnard/cordova.plugins/usb"/>

        <source-file src="src/android/diagnostic/CCIDDescriptor.java" target-dir="src/tech/barnard/cordova.plugins/diagnostic"/>
        <source-file src="src/android/diagnostic/EndPointDescriptor.java" target-dir="src/tech/barnard/cordova.plugins/diagnostic"/>
        <source-file src="src/android/diagnostic/InterfaceDescriptor.java" target-dir="src/tech/barnard/cordova.plugins/diagnostic"/>

    </platform>
</plugin>